@use "../../two-column-layout" as layout;

/* Main Container */
.login-container {
  @include layout.container;
}

/* Left Side: Text */
.login-text {
  @include layout.text-pane;
}

/* Right Side: Form */
.login-form {
  @include layout.form-pane;
}

.textfield {
  margin: 10px 0;
  width: 100%;
}

.textfield input {
  background-color: var(--gray);
  border-radius: 4px;
  padding: 20px;
}

.btn-primary {
  width: 50% !important;
  padding: 10px 20px !important;
}

.signup-link {
  text-decoration: none;
  color: var(--purple);
  font-weight: bold;
  margin-left: 5px;
}

.signup-link:hover {
  text-decoration: underline;
}

.highlight-text {
  color: var(--purple);
  font-weight: bold;
}

/* Hide left pane in mobile view */
@include layout.responsive(".login-text", ".login-form");
